div(id="menu")
	nav
		li
			a(href="/") INICIO
		li
			a(href="") PROGRAMAS
		li
			a(href="/municipios") MUNICIPIOS
		li
			a(href="") VIDEOS
	a(href="" class="home")
		img(src="../images/MxM_logos64-2x.png" width="138" height="64")
	div(class="social")
			a(href="")
				figure
					img(src="../images/MxM_ico_youtube-b-2x.png" class="ml6")
					figcaption YouTube

			a(href="")
				figure
					img(src="../images/MxM_ico_facebook-b-2x.png" class="ml5")
					figcaption Facebook

			a(href="")
				figure
					img(src="../images/MxM_ico_twitter-b-2x.png" class="ml")
					figcaption Twitter