div(id="menu")
	nav
		li
			a(href="/") INICIO
		li(class="programs")
			span PROGRAMAS
			include subMenu.jade

		li
			a(href="/municipios") MUNICIPIOS
		li
			a(href="https://www.youtube.com/user/dipusevi" target="_blank") VIDEOS

	a(href="/" class="home")
		img(src="../images/MxM_logos64-2x.png" width="138" height="64")

	div(class="social")
			a(href="https://www.youtube.com/user/dipusevi" target="_blank")
				figure
					img(src="../images/MxM_ico_youtube-b-2x.png" class="ml6")
					figcaption YouTube

			a(href="https://www.facebook.com/sharer/sharer.php?u=http://www.masconmenosdipusevilla.es/" target="_blank")
				figure
					img(src="../images/MxM_ico_facebook-b-2x.png" class="ml5")
					figcaption Facebook

			a(href="https://twitter.com/home?status=http://www.masconmenosdipusevilla.es/" target="_blank")
				figure
					img(src="../images/MxM_ico_twitter-b-2x.png" class="ml")
					figcaption Twitter