extends layout

block content
	div(id="programs")
		div(class="container")
			div(class="row")
				div(class="col-sm-12 col-md-12")
					div(class="fright")
						div(class="box mt50")
							span INVERSIÓN DE DIPUTACIÓN</br>
							span(class="anio") 2011-2015
							div(class="separator")
							- var total;
							if people
								- total = parseNumber(people.totalcalidad + people.totalpersonal, 1);
							else
								- total = parseNumber(towns.total_empleo + towns.reintegrables + towns.total_mejorando_municipio)
							span()= total.substring(0,total.indexOf(',')) + " €"
						input(type="text" class="searcher" placeholder="busca tu municipio")
						div(class="errorInput")
							span no se obtuvo ningún resultado
							a(href="/municipios") Consulta la Lista de Municipios

					span(class="title") Programa
					h1()= titleH1
					if people
						p 'Más con menos' estando al lado de las personas con una inversión total de más de 184 millones de euros en este mandato, a través de dos iniciativas que se han mostrado fundamentales para mantener la inclusión social en los pueblos sevillanos, el Plan de Urgencia Municipal y el Plan de Cohesión Social e Igualdad.
						p(class="mt25") Y junto a esa política de cercanía, 'Más con Menos' para la mejora del entorno, actuando en los espacios verdes de nuestros pueblos, en la optimización energética de las instalaciones municipales, en la mejora de los sistemas de agua y en la modernización de nuestros sistemas de extinción de incendios. Todo ello sin dejar atrás las aportaciones a la cultura, el deporte y las iniciativas para la juventud.
					else
						p 'Mas con menos' con el tejido productivo de la provincia de Sevilla, con el apoyo de la Diputación de Sevilla a través de los fondos europeos y de medidas para la promoción turística.
						p(class="mt25") Más con menos en obras, con un esfuerzo continuado de la entidad provincial para que el superávit de los Presupuestos provinciales de 2012 y 2013 terminasen yendo a mejoras. Un paquete presupuestario que unido a la inversión continuada en planes provinciales y el plan de fomento del empleo agrario, ha hecho que llegasen 283 millones de euros a los pueblos de Sevilla en arreglos y nuevas construcciones demandadas desde los Ayuntamientos
						p(class="mt25") Y siempre junto a los Ayuntamientos porque aquellas cantidades que la ley de estabilidad, la regla de gasto y el cumplimiento de la ratio de deuda no han permitido invertir para mejorar los municipios sevillanos, la Diputación de Sevilla las ha canalizado para anticipos a coste cero para los Ayuntamientos de la provincia, con un ahorro de 10,6 millones de euros en gastos financieros para estos Consistorios


			if people
				include peopleTable.jade

			if towns
				include townTable.jade				
