div(class="subMenu")
	div(class="arrow-up")
	
	div(class="people")
		a(href="/con-las-personas")
			figure
				img(src="../images/MxM_selector_personas-b-2x.png" width="48" height="48")
				figcaption con las</br> Personas
	
	div(class="separator")

	div(class="towns")
		a(href="/con-los-ayuntamientos")
			figure
				img(src="../images/MxM_selector_ayuntamientos-b-2x.png" width="48" height="48")
				figcaption con los</br> Ayuntamientos