#programs{
	margin-top: 50px;
	h1{
		font-size: 64px;
		font-weight: 500;
		line-height: 64px;
		color: #39ae99;
		font-family: museo_slab500;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	p{
		font-family: museo_slab500;
		font-size: 30px;
		line-height: 36px;
		font-weight: 500;
		color:#6e8158;
		// padding-right: 30px;
	}

	input[type="text"]{
		width: 298px;
		margin-left: 50px;
		margin-top: 20px;
	}

	.tableHeader{
		font-size: 14px;
		color:#39ae99;
		margin-top: 103px;
		border-bottom: 2px solid #39ae99;
		line-height: 36px;

		div{
			&:last-of-type{
				text-align: right;
			}
		}
	}

	.subprogram{
		font-size: 18px;
		line-height: 48px;
		font-weight: bold;
		color: #39ae99;
		div{
			&:last-of-type{
				text-align: right;
				border-bottom: 1px solid #39ae99;
			}
		}
	}

	.lastRow{
		border-bottom: 2px solid #39ae99;
		.data{
			  border: none;
		}
	}

	.data{	
		border-bottom: 1px solid #bebdbd;
		span{
			font-size: 18px;
			color:#3d3b3c;
			line-height: 48px;
			&:last-of-type{
				float: right;
			}
		}
	}

	.result{
		font-size: 18px;
		line-height: 48px;
		color:#39ae99;
		font-weight: 500;
		border-bottom: 2px solid #39ae99;
		background-color: #fff;
		font-family: museo_slab500;
		span{
			&:first-of-type{
				&:before{
					content: "";
					background-image: url("../images/MxM_ico_personas-s-2x.png");
					width: 28px;
					height: 28px;
					background-size: 28px 28px;
					display: inline-block;
					position: relative;
					top: 6px;
					margin-right: 8px;
				}
			}
			&:last-of-type{
				float: right;
			}
		}
	}

	.note{
		font-size: 14px;
		color: #5d5b5c;
		float: right;
		margin-right: -10px;
		margin-top: 18px;
		margin-bottom: 70px;
	}
}