@import 'reset';
@import 'base';

@font-face {
    font-family: 'museo_slab500';
    src: url('fonts/Museo_Slab_500-webfont.eot');
    src: url('fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo_Slab_500-webfont.woff2') format('woff2'),
         url('fonts/Museo_Slab_500-webfont.woff') format('woff'),
         url('fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('fonts/Museo_Slab_500-webfont.svg#museo_slab500') format('svg');
    
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'museo_slab500';
    src: url('fonts/Museo_Slab_500italic-webfont.eot');
    src: url('fonts/Museo_Slab_500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo_Slab_500italic-webfont.woff2') format('woff2'),
         url('fonts/Museo_Slab_500italic-webfont.woff') format('woff'),
         url('fonts/Museo_Slab_500italic-webfont.ttf') format('truetype'),
         url('fonts/Museo_Slab_500italic-webfont.svg#museo_slab500_italic') format('svg');
    
    font-weight: 500;
    font-style: italic;

}

body {
	font: 18px "Open Sans", sans-serif;
	background-color: #f2f2f2;	

    .title{
        font-size: 14px;
        color:#989898;
        font-weight: 700;
        border-top: 1px solid #989798;
        text-transform: uppercase;
      }

      input[type="text"]{
        background-color: #fff;
        color:#57575f;
        font-size: 18px;
        height: 44px;
        text-align: center;
        border: none;
        border-bottom: 1px solid #ccccce;
        background-image: url("../images/MxM_ico_buscador-2x.png");
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: 98%;
        font-weight: 300;
        font-family:"Open Sans", sans-serif;

        @media (min-height:900px) {
            margin-top: 40px;
        }

        &::-webkit-input-placeholder{
            color:#57575f;
            font-weight: 300;
        }
        &::-moz-placeholder{
            color:#57575f;
            font-weight: 300;
        }
        &:-moz-placeholder{
            color:#57575f;
            font-weight: 300;
        }
        &:-ms-input-placeholder{
            color:#57575f;
            font-weight: 300;
        }
    }

    .box{
        border: 2px solid #39ae99;
        width: 298px;
        margin-left: 50px;
        background-color: #fff;
        font-family: museo_slab500;
        span{
          color:#39ae99;
          font-weight: 500;
          display: block;
          text-align: right;
          padding-right: 16px;
          &:first-of-type{
            font-size: 18px;
            line-height: 24px;
            margin-top: 20px;
          }
          &:nth-of-type(2){
            font-family: "Open Sans", sans-serif;
          }
          &:nth-of-type(3){
            font-size: 36px;
            padding-bottom: 30px;
          }
        }
        .separator{
          width: ~"calc(100% - 32px)";
          height: 2px;
          margin-left: 16px;
          margin-top: 20px;
          margin-bottom: 20px;
          background-color: #39ae99;
        }
    }

    //Estilos para la tablas
    .tableHeader{
      font-size: 14px;
      color:#39ae99;
      margin-top: 103px;
      border-bottom: 2px solid #39ae99;
      line-height: 36px;

      div{
        &:last-of-type{
          text-align: right;
        }
      }
    }

    .subprogram{
      font-size: 18px;
      line-height: 48px;
      font-weight: bold;
      color: #39ae99;
      div{
        &:last-of-type{
          text-align: right;
          border-bottom: 1px solid #39ae99;
        }
      }
    }

    .lastRow{
      border-bottom: 2px solid #39ae99;
      .data{
          border: none;
      }
    }

    .data{  
      border-bottom: 1px solid #bebdbd;
      span{
        font-size: 18px;
        color:#3d3b3c;
        line-height: 48px;
        &:last-of-type{
          float: right;
        }
      }
    }

    .result{
      font-size: 18px;
      line-height: 48px;
      color:#39ae99;
      font-weight: 500;
      border-bottom: 2px solid #39ae99;
      background-color: #fff;
      font-family: museo_slab500;
      span{
        &:first-of-type{
          &:before{
            content: "";
            background-image: url("../images/MxM_ico_personas-s-2x.png");
            width: 28px;
            height: 28px;
            background-size: 28px 28px;
            display: inline-block;
            position: relative;
            top: 6px;
            margin-right: 8px;
          }
        }
        &:last-of-type{
          float: right;
        }
      }
    }

    .note{
      font-size: 14px;
      color: #5d5b5c;
      float: right;
      margin-right: -10px;
      margin-top: 18px;
      margin-bottom: 70px;
    }
    //FIn Estilos para la tablas
}

.ellipsis{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  border:none !important;
  color:#fff !important;
  background: #39ae99 !important;
  font-weight: 400 !important;
}


.ui-widget-content{
  font: 18px "Open Sans", sans-serif !important;
  color: #39ae99 !important;
  font-weight: 400 !important;
  background: #fff !important;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
}

@import 'home';
@import 'menu';
@import 'footer';
@import 'programs';
@import 'towns';
@import 'town';